@import "../styles/Mixin.scss";

.footer{
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 25px;
    color: white;
    background-color: black;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    @include mobile-only{
        font-size: 7px;
    }
}