.partnership{
    position: relative;
    height: 100vh;
    width: 100%;
    .partnershipImg{
        position: relative;
        object-fit: fill;
        height: 100vh;
        padding-top: 62px;
        width: 100%;
    }
}