@import "../styles/Mixin.scss";

.product{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-content: center;
    margin-left: 25px;
    opacity: 0;
    transform: scale(85% );
    transition: 2s;
    height: 100vh;
    @include mobile-only{
        width: 100%;
        margin-right: 0;
        display: block;
        margin-left: 0;
        background-color: rgb(236, 236, 236);
        height: 100%;
    }
    .mainTitle{
        position: absolute;
        padding-top: 60px;
        justify-content: center;
        display: flex;
        left: 0;
        right: 0;
        font-weight: 800;
        font-size: 25px;
        @include mobile-only{
            position: relative;
            left: 0;
            top: 20px;
            margin-left: 20px;
        }
    }
    .allProduct{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-top: 100px;
        cursor: pointer;
        @include mobile-only{
            padding-top: 40px;
        }
        .card{
            width: 24rem;
            height: 285px;
            background-color: #ffffff;
            padding: 30px 10px;
            color: #333333;
            -webkit-box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%);
            box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%);
            border-radius: 15px;
            margin: 10px;
            @include mobile-only{
                height: 60px;
                border: none;
                padding: 0;
                background-color: rgb(236, 236, 236);;
                box-shadow: none;
                margin: 0;
            }
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: opacity 1s cubic-bezier(.165, .84, .44, 1);
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
                content: '';
                opacity: 0;
                z-index: -1;
              }
              &:hover,&:focus {
                transform: scale3d(1.018, 1.018, 1);
                background-color :rgb(234, 255, 242);
            }
            .cardImg{
                font-size: 62px;
                justify-content: center;
                display: flex;
                align-content: center;
                margin: auto;
            }
            .cardBody{
                .cardTitle{
                    font-size: 19px;
                    font-weight: 800;
                    justify-content: center;
                    display: flex;
                }
                .cardText{
                    text-align: justify;
                    @include mobile-only{
                        display: none;
                    }
                }
            }
        }
    }
}
.productTitle{
    font-weight: bolder;
}
.productZoom{
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
    height: 100vh;
    position: relative;
    @include mobile-only{
        height: 100%;
    }
}