@import "../styles/Mixin.scss";

.slider{
    display: flex;
    align-items: center;
    opacity: 0;
    transform: scale(85% );
    transition: 2s;
    @include mobile-only{
        flex-direction: column;
        background-color: rgb(236, 236, 236);
    }
    .sliderImg{
        width: 50%;
        height: 600px;
        @include mobile-only{width: 100%;}
    }
    .sliderContent{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .sliderTitle{
            text-align: center;
            margin-top: 55px;
        }
        .sliderSubtitle{
            width: 60%;
            text-align: initial;
            margin-top: 35px;
            margin-bottom: 35px;
            font-size: 20px;
            @include mobile-only{
                width: 90%;
            }
        }
        .more{
            display: flex;
            width: 60%;
            justify-content: space-around;
            @include mobile-only{
                width: 90%;
            }
            .moreInfo{
                background-color: #44d744;
                padding: 10px;
                width: 115px;
                cursor: pointer;
            }
            .moreContact{
                border: 1px solid #44d744;
                padding: 10px;
                width: 115px;
                cursor: pointer;
            }
        }
    }
    .imgDescription{
        position: absolute;
        right: 65px;
        top: 530px;
        color: white;
        .imgTitle{
            color: #44d744;
            font-weight: 700;
            font-size: 32px;
        }
    }
}
.sliderZoom{
    opacity: 1;
    transform: scale(100%);
    transition: 2s;
}